<div class="slideshow splide js-slider-carousel">
  <div class="splide__track">
    <ul class="splide__list">
      {%- for block in section.blocks -%}
        <li class="splide__slide" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
          <div class="slide-item js-slideshow-item" {% if block.settings.desktop_invert_design_color == true %}data-desktop-invert-design="true"{% endif %} {% if block.settings.mobile_invert_design_color == true %}data-mobile-invert-design="true"{% endif %}>
            {%- liquid
              assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
              assign mobile_height = block.settings.mobile_image.width | divided_by: block.settings.mobile_image.aspect_ratio | round
              assign sizes = '100vw'
              assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
              assign fetch_priority = 'auto'
              if section.index == 1
                assign fetch_priority = 'high'
              endif
            -%}
            {% if block.settings.desktop_media_type == 'video' and block.settings.mobile_media_type == 'video' %}
              {% if block.settings.mobile_video_url == '' %}
                <video 
                  autoplay 
                  muted 
                  loop 
                  width="640" 
                  height="360" 
                  class="js-lazy-video"
                  poster="{{ block.settings.image | img_url: '1000x' }}">
                  <source data-src="{{ block.settings.video_url }}" type="video/mp4">
                  Your browser doesn't support video.
                </video>
              {% else %}
                
                <video 
                  autoplay 
                  muted 
                  loop 
                  width="640" 
                  height="360" 
                  class="d-none d-lg-block js-lazy-video"
                  poster="{{ block.settings.image | img_url: '1000x' }}">
                  <source data-src="{{ block.settings.video_url }}" type="video/mp4">
                  Your browser doesn't support video.
                </video>
                <video 
                  autoplay 
                  muted 
                  loop 
                  width="640" 
                  height="360" 
                  class="d-lg-none js-lazy-video"
                  poster="{{ block.settings.mobile_image | img_url: '1000x' }}">
                  <source data-src="{{ block.settings.mobile_video_url }}" type="video/mp4">
                  Your browser doesn't support video.
                </video>
              {% endif %}
            {% else %}
              {% if block.settings.desktop_media_type == 'video' or block.settings.mobile_media_type == 'video' %}
                {% if block.settings.desktop_media_type == 'video' %}
                  <video 
                    autoplay 
                    muted 
                    loop 
                    width="640" 
                    height="360" 
                    class="d-none d-lg-block js-lazy-video"
                    poster="{{ block.settings.image | img_url: '1000x' }}">
                    <source data-src="{{ block.settings.video_url }}" type="video/mp4">
                    Your browser doesn't support video.
                  </video>
                  {{
                    block.settings.mobile_image
                    | image_url: width: 750
                    | image_tag: class: 'd-lg-none fade-in', height: mobile_height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
                  }}
                {% else %}
                  <video 
                    autoplay 
                    muted 
                    loop 
                    width="640" 
                    height="360" 
                    class="d-lg-none js-lazy-video"
                    poster="{{ block.settings.mobile_image | img_url: '1000x' }}">
                    <source data-src="{{ block.settings.mobile_video_url }}" type="video/mp4">
                    Your browser doesn't support video.
                  </video>
                  {{
                    block.settings.image
                    | image_url: width: 3840
                    | image_tag: class: 'd-none d-lg-block fade-in', height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
                  }}
                {% endif %}
              {% else %}
                {%- if forloop.first %}
                 
                {%- else -%}
                  {% if block.settings.mobile_image == blank %}
                    {{
                      block.settings.image
                      | image_url: width: 3840
                      | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths, class: "fade-in"
                    }}
                  {% else %}
                    {{
                      block.settings.image
                      | image_url: width: 3840
                      | image_tag: loading: 'lazy', class: 'd-none d-lg-block fade-in', height: height, sizes: sizes, widths: widths
                    }}
                    {{
                      block.settings.mobile_image
                      | image_url: width: 750
                      | image_tag: loading: 'lazy', class: 'd-lg-none fade-in', height: mobile_height, sizes: sizes, widths: widths
                    }}
                  {% endif %}
                {%- endif -%}
              {% endif %}
            {% endif %}
            {% if block.settings.enable_dark_overlay == true %}
              <div class="dark-overlay" style="background: {{ block.settings.dark_overlay_background_color }};opacity: 0.{{ block.settings.dark_overlay_opacity }}"></div>
            {% endif %}
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
  
  <div class="slideshow__pagination">
    <div class="container container--type-2">
      <div class="slideshow-pagination__d-flex d-flex">
        {%- for block in section.blocks -%}
          <div class="slideshow-pagination__item {% if forloop.index == 1 %}active{% endif %} js-go-slider" data-index="{{ forloop.index }}" data-section-id="{{ section.index }}">
            {% if block.settings.tag != '' %}
              <h5 class="slideshow-pagination-item__tag text-cta">{{ block.settings.tag }}</h5>
            {% endif %}
            {% if block.settings.heading != '' %}
              <h2 class="slideshow-pagination-item__heading">{{ block.settings.heading }}</h2>
            {% endif %}
            {% if block.settings.button_label != '' %}
              <div class="slideshow-pagination-item__button">
                <a href="{{ block.settings.button_url }}">{{ block.settings.button_label }} {% include 'icon' with 'arrow-right' %}</a>
              </div>
            {% endif %}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
  <div class="slideshow__mobile-progress-bar">
    <div class="container container--type-2">
      <div class="slideshow-progress-bar__d-flex d-flex">
        {%- for block in section.blocks -%}
          <div class="slideshow-progress-bar__item js-go-slider">
            <p class="js-slideshow-progress-bar {% if forloop.index == 1 %}active{% endif %}" data-index="{{ forloop.index }}" data-section-id="{{ section.index }}"><span></span></p>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
<script src="{{ 'slideshow.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Slideshow",
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "header",
          "content": "Desktop media"
        },
        {
          "type": "checkbox",
          "id": "desktop_invert_design_color",
          "label": "Invert design color?"
        },
        {
          "type": "select",
          "id": "desktop_media_type",
          "label": "Media type",
          "default": "image",
          "options": [
            {
              "label": "Image",
              "value": "image"
            },
            {
              "label": "Video",
              "value": "video"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image / Video placeholder",
          "info": "Size 1440 x 844 px"
        },
        {
          "type": "text",
          "id": "video_url",
          "label": "Video url"
        },
        {
          "type": "header",
          "content": "Optional mobile media"
        },
        {
          "type": "checkbox",
          "id": "mobile_invert_design_color",
          "label": "Invert design color?"
        },
        {
          "type": "select",
          "id": "mobile_media_type",
          "label": "Media type",
          "default": "image",
          "options": [
            {
              "label": "Image",
              "value": "image"
            },
            {
              "label": "Video",
              "value": "video"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Image / Video placeholder",
          "info": "Size 393 x 790 px"
        },
        {
          "type": "text",
          "id": "mobile_video_url",
          "label": "Video url"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "textarea",
          "id": "tag",
          "label": "Tag"
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button url"
        },
        {
          "type": "header",
          "content": "Dark overlay"
        },
        {
          "type": "checkbox",
          "id": "enable_dark_overlay",
          "label": "Enable dark overlay"
        },
        {
          "type": "range",
          "id": "dark_overlay_opacity",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Dark overlay opacity",
          "default": 10
        },
        {
          "type": "color",
          "id": "dark_overlay_background_color",
          "label": "Dark overlay background color"
        }
      ]
    } 
  ],
  "presets": [
    {
      "name": "Slideshow",
      "category": "Slider",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "desktop_invert_design_color": true,
            "desktop_media_type": "image",
            "image": "shopify:\/\/shop_images\/slider-01_de0b9207-7107-4d8d-9954-7b3edb8349be.jpg",
            "video_url": "",
            "mobile_invert_design_color": true,
            "mobile_media_type": "image",
            "mobile_image": "shopify:\/\/shop_images\/1_97d90f24-ecf2-4ac9-820b-6708f24d8840.jpg",
            "mobile_video_url": "",
            "tag": "Collection",
            "heading": "Water Meadow",
            "button_label": "Shop now",
            "button_url": "shopify:\/\/collections\/all"
          }
        },
        {
          "type": "item",
          "settings": {
            "desktop_invert_design_color": true,
            "desktop_media_type": "image",
            "image": "shopify:\/\/shop_images\/slider-02_044ecde7-a009-4eb8-b467-41ca05bb93f5.jpg",
            "video_url": "",
            "mobile_invert_design_color": true,
            "mobile_media_type": "image",
            "mobile_image": "shopify:\/\/shop_images\/2_b853d3d1-5c11-4d7b-b6b0-4786b925be31.jpg",
            "mobile_video_url": "",
            "tag": "Interiors",
            "heading": "Festive Tablescapes",
            "button_label": "Shop now",
            "button_url": "shopify:\/\/collections\/all"
          }
        },
        {
          "type": "item",
          "settings": {
            "desktop_invert_design_color": true,
            "desktop_media_type": "image",
            "image": "shopify:\/\/shop_images\/slider-03_0b56d4de-eba4-4550-a8e0-c541f1093f37.jpg",
            "video_url": "",
            "mobile_invert_design_color": true,
            "mobile_media_type": "image",
            "mobile_image": "shopify:\/\/shop_images\/3_ade2a055-2414-41ad-92c1-53429c95fd19.jpg",
            "mobile_video_url": "",
            "tag": "Seasonal",
            "heading": "Autumn Leaves",
            "button_label": "Shop now",
            "button_url": "shopify:\/\/collections\/all"
          }
        }
      ]
    }
  ]
}
{% endschema %}