<link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}">
{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #shopify-section-{{ section.id }} {
     --section-padding-top: {{ section.settings.padding_top }}px;
     --section-padding-bottom: {{ section.settings.padding_bottom }}px;
     --section-colors-background : {{ section.settings.colors_background }};
     --section-colors-card-text : {{ section.settings.colors_card_text }};
     --section-colors-card-heading : {{ section.settings.colors_card_heading }};
     --section-colors-heading : {{ section.settings.colors_heading }};
     --section-colors-card-background : {{ section.settings.colors_card_background }};
     --section-colors-star : {{ section.settings.colors_star }};
  }

  .text-right {
    text-align: right;
  }

  .align-items-center {
    align-items: center;
  }

  .testimonial-controls{
    display:flex;
    align-items:center;
    gap:10px;
    justify-content:flex-end;
    color:#000000;
  }

  .swiper {
    width:100%;
    overflow:hidden;
  }

  .swiper-pagination{
    position:relative;
    font-weight:700;
    max-width:50px;
  }

  .swiper-button-prev,
  .swiper-button-next{
    position:relative;
    top:0;
    margin:0;
    color:#000;
    cursor:pointer;
  }

  .swiper-button-prev svg,
  .swiper-button-next svg{
    max-width:14px;
    max-height:12px;
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    content:"";
  }
  .swiper-pagination-fraction{
    top:inherit !important;
    bottom:inherit !important;
  }

  .testimonials-section .title.h2{
    font-family: 'Instrument Sans';
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5.6px;
    text-transform: uppercase;
    color:#000000;
  }

  .swiper-slide{
    background-color:#fff;
    padding:20px;
  }

  .divider{
    border-bottom:1px solid #EEEEEE;
    padding:15px 0;
  }

  .testimonials-section{
     background-color: #EEEAE9;
     padding-left:20px;
  }

  .testimonial-img-1{
    background-color:#eee;
    width:125px;
    height:166px;
  }

  .testimonial-img-2{
    width:40px;
    height:55px;
    background-color:#eee;
  }

  .desktop-d-flex{
    display:flex;
  }

  .testimonial-info{
    gap:40px;
  }

  .testimonial-product{
    gap:10px;
  }

  .testimonial-info-col-1{
    width:calc(80% - 40px);
  }
   .testimonial-info-col-2{
    width:20%;
  }

  .testimonial-info{
    border-bottom:1px solid #EEEEEE;
    margin-bottom : 15px;
    padding-bottom : 15px;
  }

  .testimonial-info .name{
    font-family: 'Instrument Sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1.16px;
    text-transform: uppercase;
    color:#000000;
  }

  .testimonial-info .description p{
    font-family: 'Instrument Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color:#5c5c5c;
  }

  .testimonial-product .prod__name{
    font-family: 'Instrument Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:#000000;
  }

  .testimonial-product img{
    max-width: 40px;
    max-height:55px;
  }

  .testimonial-info img{
    max-width: 125px;
    max-height:166px;
  }

  .testimonials-section .rating{
    margin:10px 0;
  }

  @media screen and (max-width:768px){
    testimonials-section{
      padding-right:20px;
    }
    .testimonials-heading-grid{
      margin-bottom:20px;
    }
    .testimonials-heading-grid .grid__item{
       padding:0;
    }
  }

   .testimonials-section .rating-star::before {
      -webkit-text-fill-color: #A17119F7;
    }

  {% if section.settings.use_custom_colors %}
    .testimonials-section{
      background-color: var(--section-colors-background);
    }
    .testimonial-info .description p{
      color:var(--section-colors-card-text);
    }
    .testimonial-product .prod__name, .testimonial-info .name{
      color:var(--section-colors-card-heading);
    }
   .testimonials-section .title.h2, .testimonial-controls{
      color:var(--section-colors-heading);
    }
    .swiper-slide{
      background-color:var(--section-colors-card-background);
    }
    .testimonials-section .rating-star::before {
      -webkit-text-fill-color: var(--section-colors-star);
    }
  {% endif %}
{%- endstyle -%}

<section class="section--padding testimonials-section">
  <div>
    <div class="grid grid--1-col grid--2-col-tablet testimonials-heading-grid">
      <div class="grid__item">
        <h2 class="title h2 {{ section.settings.heading_size }} {{ section.settings.mobile-heading_size }}">
          Happy Customers
        </h2>
      </div>
      <div class="grid__item text-right">
        <div class="testimonial-controls">
          <div class="swiper-button-prev" id="swiper-prev-{{ section.id }}">
            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.82975 0.715156L6.13412 0.0195312L0.153809 5.99984L6.13412 11.9802L6.82975 11.2845L2.03631 6.49109H13.9669V5.50766H2.03631L6.82975 0.715156Z" fill="black"/>
            </svg>
          </div>
          <div class="swiper-pagination" id="swiper-pag-{{ section.id }}"></div>
          <div class="swiper-button-next" id="swiper-next-{{ section.id }}">
            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.17025 11.2848L7.86588 11.9805L13.8462 6.00016L7.86588 0.0198441L7.17025 0.715469L11.9637 5.50891H0.0330658V6.49234H11.9637L7.17025 11.2848Z" fill="black"/>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div>
      <!-- give this instance a unique class -->
      <div class="swiper mySwiper-{{ section.id }}">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            {% case block.type %}
              {%- when 'testimonial' -%}
                <div class="swiper-slide">
                  <div class="testimonial-info desktop-d-flex">
                    <div class="testimonial-info-col-1">
                      <h3 class="name">{{ block.settings.name }}</h3>

                      {%- if block.settings.icon != 'none' -%}
                        {%- if block.settings.icon == 'quote' -%}
                          <div class="quote-icon">
                            <svg aria-hidden="true" focusable="false" class="icon icon-quote" viewBox="0 0 41 35">
                              <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="currentColor" fill-rule="evenodd"/>
                            </svg>
                          </div>
                        {%- else -%}
                          <div class="rating" role="img">
                            <span
                              aria-hidden="true"
                              class="rating-star"
                              style="--rating: {{ block.settings.icon }};--rating-max: 5;--rating-decimal: 0;"
                            ></span>
                          </div>
                        {%- endif -%}
                      {%- endif -%}

                      <div class="description">
                        {{ block.settings.description }}
                      </div>
                    </div>
                    <div class="testimonial-info-col-2 testimonial-col-img">
                      <div class="media-container">
                        <use-animate animate="" data-animate="zoom-fade" class="media-wrapper">
                          <div class="image-animate media--{{ block.settings.image_ratio }} media-mobile--{{ block.settings.mobile_image_ratio }} {% if block.settings.testimonial_image != blank %}media{% else %}media--placeholder{% endif %}{% if block.settings.image_behavior != 'none' %} animate--{{ block.settings.image_behavior }}{% endif %}">
                            {%- if block.settings.testimonial_image != blank -%}
                              {%- if block.settings.image_behavior == 'ambient' -%}
                                {%- assign widths = '450, 900, 1320, 1800, 2136, 2400, 3600, 4680' -%}
                                {%- capture sizes -%}
                                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                                  (min-width: 750px) calc((100vw - 10rem) / 1.667), {% if block.settings.full_width %} calc(100vw / 1.667){% else %} calc((100vw - 3rem) / 1.667){% endif %}
                                {%- endcapture -%}
                              {%- else -%}
                                {%- assign widths = '375, 750, 1100, 1500, 1780, 2000, 3000, 3840' -%}
                                {%- capture sizes -%}
                                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                                (min-width: 750px) calc((100vw - 10rem) / 2), {% if block.settings.full_width %} 50vw{% else %} calc((100vw - 3rem) / 2){% endif %}
                              {%- endcapture -%}
                              {%- endif -%}
                              {%- liquid
                                if block.settings.image_mobile == blank
                                  echo block.settings.testimonial_image | image_url: width: 3840 | image_tag: loading: 'lazy', class: 'image-fit', sizes: sizes, widths: widths, is: 'lazy-image'
                                else
                                  echo block.settings.image_mobile | image_url: width: 3840 | image_tag: loading: 'lazy', class: 'image-fit medium-hide large-up-hide', sizes: sizes, widths: widths, is: 'lazy-image'
                                  echo block.settings.testimonial_image | image_url: width: 3840 | image_tag: loading: 'lazy', class: 'image-fit small-hide', sizes: sizes, widths: widths, is: 'lazy-image'
                                endif
                              -%}
                            {%- else -%}
                              {{ 'image' | placeholder_svg_tag: 'placeholder' }}
                            {%- endif -%}
                          </div>
                        </use-animate>
                      </div>
                    </div>
                  </div>
                  <div class="desktop-d-flex align-items-center testimonial-product">
                    <div>
                      {% comment %} <div class="testimonial-img-2">a</div> {% endcomment %}

                      <div class="media-container">
                        <use-animate animate="" data-animate="zoom-fade" class="media-wrapper">
                          <div class="image-animate media--{{ block.settings.image_ratio }} media-mobile--{{ block.settings.mobile_image_ratio }} {% if block.settings.product_image != blank %}media{% else %}media--placeholder{% endif %}{% if block.settings.image_behavior != 'none' %} animate--{{ block.settings.image_behavior }}{% endif %}">
                            {%- if block.settings.product_image != blank -%}
                              {%- if block.settings.image_behavior == 'ambient' -%}
                                {%- assign widths = '450, 900, 1320, 1800, 2136, 2400, 3600, 4680' -%}
                                {%- capture sizes -%}
                                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                                  (min-width: 750px) calc((100vw - 10rem) / 1.667), {% if block.settings.full_width %} calc(100vw / 1.667){% else %} calc((100vw - 3rem) / 1.667){% endif %}
                                {%- endcapture -%}
                              {%- else -%}
                                {%- assign widths = '375, 750, 1100, 1500, 1780, 2000, 3000, 3840' -%}
                                {%- capture sizes -%}
                                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                                (min-width: 750px) calc((100vw - 10rem) / 2), {% if block.settings.full_width %} 50vw{% else %} calc((100vw - 3rem) / 2){% endif %}
                              {%- endcapture -%}
                              {%- endif -%}
                              {%- liquid
                                if block.settings.image_mobile == blank
                                  echo block.settings.product_image | image_url: width: 3840 | image_tag: loading: 'lazy', class: 'image-fit', sizes: sizes, widths: widths, is: 'lazy-image'
                                else
                                  echo block.settings.image_mobile | image_url: width: 3840 | image_tag: loading: 'lazy', class: 'image-fit medium-hide large-up-hide', sizes: sizes, widths: widths, is: 'lazy-image'
                                  echo block.settings.product_image | image_url: width: 3840 | image_tag: loading: 'lazy', class: 'image-fit small-hide', sizes: sizes, widths: widths, is: 'lazy-image'
                                endif
                              -%}
                            {%- else -%}
                              {{ 'image' | placeholder_svg_tag: 'placeholder' }}
                            {%- endif -%}
                          </div>
                        </use-animate>
                      </div>
                    </div>
                    <div>
                      <p class="prod__name">{{ block.settings.product_name }}</p>
                    </div>
                  </div>
                </div>
            {% endcase %}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Correct: use src, not href -->
<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>

<script>
  (function () {
    // Guard if Swiper isn't loaded for any reason
    function init() {
      if (typeof Swiper === 'undefined') return;

      const root = document.getElementById('shopify-section-{{ section.id }}');
      const container = root.querySelector('.mySwiper-{{ section.id }}');
      const pag = root.querySelector('#swiper-pag-{{ section.id }}');
      const next = root.querySelector('#swiper-next-{{ section.id }}');
      const prev = root.querySelector('#swiper-prev-{{ section.id }}');

      new Swiper(container, {
        loop: true,
        slidesPerView: 1,
        spaceBetween: 30,
        grabCursor: true,

        pagination: {
          el: pag,
          type: 'fraction',
          renderFraction: (currentClass, totalClass) =>
            `<span class="${currentClass}"></span>/<span class="${totalClass}"></span>`,
        },

        navigation: {
          nextEl: next,
          prevEl: prev,
        },

        breakpoints: {
          768: { slidesPerView: 1.3 },
          991: { slidesPerView: 2 },
          1024: { slidesPerView: 2.3 },
        },
      });
    }

    init();
    document.addEventListener('shopify:section:load', function (e) {
      if (e.detail && e.detail.sectionId === '{{ section.id }}') init();
    });
  })();
</script>

{% schema %}
{
  "name": "Testimonials",
  "settings": [
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "desktop-fs-30",
          "label": "t:sections.all.text_size.options__1.label"
        },
        {
          "value": "desktop-fs-32",
          "label": "t:sections.all.text_size.options__2.label"
        },
        {
          "value": "desktop-fs-34",
          "label": "t:sections.all.text_size.options__3.label"
        }
      ],
      "default": "desktop-fs-32",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_layout.header.content"
    },
    {
      "type": "select",
      "id": "mobile-heading_size",
      "options": [
        {
          "value": "mobile-fs-18",
          "label": "t:sections.all.text_size.options__1.label"
        },
        {
          "value": "mobile-fs-20",
          "label": "t:sections.all.text_size.options__2.label"
        },
        {
          "value": "mobile-fs-22",
          "label": "t:sections.all.text_size.options__3.label"
        }
      ],
      "default": "mobile-fs-20",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header.content"
    },
    {
      "type": "checkbox",
      "id": "use_custom_colors",
      "default": false,
      "label": "t:sections.all.colors.use_custom_colors.label"
    },
    {
      "type": "color",
      "id": "colors_heading",
      "label": "Section heading",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "colors_background",
      "label": "t:sections.all.colors.colors_background.label",
      "default": "#EEEAE9"
    },
    {
      "type": "color",
      "id": "colors_card_heading",
      "label": "Card heading",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "colors_card_text",
      "label": "Card text",
      "default": "#5C5C5C"
    },

    {
      "type": "color",
      "id": "colors_card_background",
      "label": "t:sections.image-fixed-with-scrolling-cards.settings.colors.colors_card_background.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "colors_star",
      "label": "Stars",
      "default": "#A17119F7"
    },
    {
      "type": "color",
      "id": "colors_highlight",
      "label": "t:sections.all.colors.colors_highlight.label",
      "default": "#ffb503"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "t:sections.testimonials.blocks.testimonial.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__1.label"
            },
            {
              "value": "quote",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__2.label"
            },
            {
              "value": "5",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__3.label"
            },
            {
              "value": "4",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__4.label"
            },
            {
              "value": "3",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__5.label"
            },
            {
              "value": "2",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__6.label"
            },
            {
              "value": "1",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__7.label"
            }
          ],
          "default": "5",
          "label": "t:sections.testimonials.blocks.testimonial.settings.icon.label"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Enter name here"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "image_picker",
          "id": "testimonial_image",
          "label": "Testimonial Image"
        },
        {
          "type": "text",
          "id": "product_name",
          "label": "Product Name",
          "default": "Enter name here"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image"
        }
      ]
    }
  ],
    "presets": [
    {
      "name": "Testimonials",
      "blocks": [
        {
          "type": "testimonial"
        },
         {
          "type": "testimonial"
        },
         {
          "type": "testimonial"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  }
}
{% endschema %}
